# Variables y tipos de datos

**Variable** Una variables consta de un espacio de memoria y u nsimbolo (identificador)

Tipos de datos:
* ``int`` $\longrightarrow$ Números enteros
* ``float`` $\longrightarrow$ Números decimales
* ``str`` $\longrightarrow$ Cadena de caracteres
* ``bool`` $\longrightarrow$ True/False

``nombre_variable = valor``

In [2]:
a = 4
a

4

In [3]:
b = 2.397291279387
b

2.397291279387

In [4]:
c = 'ASQ UNI'
c

'ASQ UNI'

In [6]:
type(a), type(b) , type(c)

(int, float, str)

<div class="alert alert-block alert-warning">
    <b>Nota:</b> Asignamos los datos sin indicar de qué tipo son.
</div>

<div class="alert alert-block alert-warning">
    <b>Nota:</b> Operaciones básicas usamos (+) (-) (*) (/) (**)
</div>

## Variable string
**string**: Cadena de caracteres

Podemos crear un ``string`` a partir de ``' '`` o ``" "``

In [8]:
string_1 = 'variable string, comilla simmple'
string_1

'variable string, comilla simmple'

In [9]:
string_2 = "variable string, comilla doble"

In [10]:
type(string_1)

str

## Comillas dentro de un string

In [14]:
primera_forma = 'usar "comillas dobles" dentro de un string '
primera_forma

'usar "comillas dobles" dentro de un string '

In [15]:
segunda_forma = "usar 'comillas dobles' dentro de un string"
segunda_forma

"usar 'comillas dobles' dentro de un string"

In [17]:
tercera_forma = 'Hola \"Carlos\" '
tercera_forma

'Hola "Carlos" '

### print format

In [18]:
a = 'Hola'
a

'Hola'

In [19]:
print(a)

Hola

In [20]:
nombre = 'Carlos Rondan'
edad = 22

print('Mi nombre es ',nombre,'y mi edad es ', edad, 'años')

Mi nombre es  Carlos Rondan y mi edad es  22 años

In [21]:
print('Mi nombre es {} y mi edad es {} años'.format(nombre, edad))

Mi nombre es Carlos Rondan y mi edad es 22 años

### substring

In [22]:
substring = 'Python'

La cadena de texto ``'Python'`` tiene la siguiente indexación:

``
 P  y  t  h  o  n
 0  1  2  3  4  5
-6 -5 -4 -3 -2 -1
``

In [25]:
substring[2], substring[-4]

('t', 't')

Recorre la cadena de texto ``substring`` desde la posición 2 hasta la posición 4

In [27]:
substring[2:5]

'tho'

In [28]:
substring[:4]

'Pyth'

In [29]:
substring[2:]

'thon'

## Métodos para trabajar con string

In [31]:
a = 'aPRENDERÁS PYTHON con ASQ UNI'

El método ``.lower()`` sirve para poner en minuscula toda la cadena de caracteres

In [32]:
a.lower()

'aprenderás python con asq uni'

El método ``.upper()`` sirve para poner en mayúscula toda la cadena de caracteres

In [33]:
a.upper()

'APRENDERÁS PYTHON CON ASQ UNI'

El método ``.count()`` se usa para contabilidar una o un conjutno de caracteres que se encuentren en el string

In [36]:
a.count('N')

3

El método ``.capitalize()`` convierte la primera letra en mayúscula y las restantes en mínuscula

In [37]:
a.capitalize()

'Aprenderás python con asq uni'

El método ``.title()`` es usado para convertir en mayúscula la primera letra de cada palabras, y las restantes en minúscula

In [38]:
a.title()

'Aprenderás Python Con Asq Uni'

El método ``.replace()`` tiene dos parámetros. El primero es **la cadena de texto a remplazar** y el segundo es el **nuevo texto**

In [39]:
a.replace('PYTHON', 'R')

'aPRENDERÁS R con ASQ UNI'

El método ``.split()`` divide un string y los almacena como elementos en una lista

In [41]:
a.split('N')

['aPRE', 'DERÁS PYTHO', ' con ASQ U', 'I']

la función ``len()`` contabiliza los caracteres de un string

In [42]:
len(a)

29

El método ``.find()`` sirve para buscar una sub cadena de texto de una string

In [43]:
a.find('E')

3

# Casting (convertir tipo de datos)

In [49]:
a = 8.5
a

8.5

In [50]:
b = int(a)
b

8

In [51]:
type(a)

float

In [52]:
type(b)

int

<div class="alert alert-block alert-danger">
    <b>Nota:</b> Cuando usamos int() en un número flotante esta trunca al número, por ejemplo, int(8.5) $\rightarrow$ 8.  En este caso se ha truncado, por lo que, hemos perdido información
</div>

## Ejemplitos

### Ejemplo 1

In [58]:
edad = input()

22

In [61]:
edad

'22'

In [62]:
print(edad)

22

In [64]:
nombre = input('Mi nombre es: ')
edad = int(input('Mi edad es: '))

Mi nombre es: Carlos Rondan
Mi edad es: 22

In [65]:
type(nombre), type(edad)

(str, int)

In [67]:
print('La edad de {} es {} años'.format(nombre,edad))

La edad de Carlos Rondan es 22 años

### Ejemplo 2

Calcular el índice de masa corporal $IMC = \frac{Peso}{Altura^2}$

In [68]:
nombre = input('Mi nombre es: ')
peso = float(input('Mi eso es :'))
altura = float(input('Mi altura es: '))

IMC = peso/(altura**2)

Mi nombre es: Carlos Rondan
Mi eso es :80
Mi altura es: 1.70

In [72]:
print('El usuario \"{}\" con peso {} kg y altura {} metros tiene IMC igual a {} '.format(nombre,
                                                                                    peso,
                                                                                    altura,
                                                                                    round(IMC,2)))

El usuario "Carlos Rondan" con peso 80.0 kg y altura 1.7 metros tiene IMC igual a 27.68

In [71]:
round(IMC, 2)

27.68

<div class="alert alert-block alert-warning">
    <b>Nota:</b> Python tiene como tipo de dato a los números completos (complex)
</div>

La correcta sintaxis de un número complejo es:``a + bj``.

Donde :
-   ``a`` es la parte real de un número complejo
-   `b` es la parte imaginaria del número complejo
-   `j` es el número imaginario $j = i = \sqrt{-1}$

In [78]:
numero_complejo = 1 + 3j
numero_complejo

(1+3j)

Podemos crear un número compleo con la función ``complex()``

In [80]:
crear_complejo = complex(1,-2)
crear_complejo

(1-2j)

In [81]:
type(crear_complejo)

complex

In [82]:
crear_complejo.real

1.0

In [83]:
crear_complejo.imag

-2.0

In [84]:
crear_complejo.conjugate()

(1+2j)

In [85]:
abs(crear_complejo) #hallar el modulo

2.23606797749979

In [86]:
5**(1/2)

2.23606797749979

# Creación de listas
**lista** Una colección de valores de cualquier tipo

In [90]:
lista_1 = [10,10.2,'carlos',[1,2]]

In [91]:
lista_1

[10, 10.2, 'carlos', [1, 2]]

La lista ``lista_1`` tiene la siguiente indexación:

``
[ 10,10.2,'carlos',[1,2]]
   0    1     2       3 
  -4   -3    -2      -1
``

In [92]:
lista_1[0]

10

In [93]:
lista_1[1:3]

[10.2, 'carlos']

## Cómo añadir o quitar elementos de una lista

###  Añadir valores a una lista

In [94]:
lista = lista_1 + ['Hola', 3]
lista

[10, 10.2, 'carlos', [1, 2], 'Hola', 3]

El método ``.append()`` sirve para añadir nuevos elementos (int, float, list, dict, dataframe, etc....)

In [95]:
lista.append(2)

In [96]:
lista

[10, 10.2, 'carlos', [1, 2], 'Hola', 3, 2]

In [97]:
lista.insert(2, 'aqui estos, haceme caso')

In [98]:
lista

[10, 10.2, 'aqui estos, haceme caso', 'carlos', [1, 2], 'Hola', 3, 2]

### quitar elementos de una lista

In [99]:
lista.remove(3)

In [100]:
lista

[10, 10.2, 'aqui estos, haceme caso', 'carlos', [1, 2], 'Hola', 2]

## Crear nuevas listas
1. Por punteros (dependientes)
2. por la función ``list()`` (independiente)

In [101]:
x = [1,2,3]
x

[1, 2, 3]

In [102]:
y = x
y

[1, 2, 3]

In [103]:
y[1] = 100

In [104]:
y

[1, 100, 3]

In [105]:
x

[1, 100, 3]

***

In [106]:
x = [1,2,3]
x

[1, 2, 3]

In [107]:
z = list(x)

In [108]:
z

[1, 2, 3]

In [109]:
z[1] = 100

In [110]:
z

[1, 100, 3]

In [111]:
x

[1, 2, 3]

# Diccionarios
`` nombre_diccionario = {'clave_1': valor_1,
                         'clave_2': valor_2}``

In [113]:
registro_dic = {'Carlos': 12,
                'Jhon': 13,
                'Lusia': 15,
                'Verónica': 18}

In [114]:
registro_dic['Carlos']

12

In [115]:
nombre_alumnos = ['Carlos','Jhon','Luisa','Verónica']
notas = [12,13,15,18]

In [117]:
indexacion_luisa = nombre_alumnos.index('Luisa')
indexacion_luisa

2

In [118]:
notas[indexacion_luisa]

15

## convertir listas en diccionarios

In [119]:
mercados = ['La Victoria', 'Huamantanga','Santa Anita','San josé']

In [120]:
desperdicios = [40000, 30000, 15000,50000]

In [121]:
dic_desperdicio = dict(zip(mercados, desperdicios))

In [122]:
dic_desperdicio

{'La Victoria': 40000,
 'Huamantanga': 30000,
 'Santa Anita': 15000,
 'San josé': 50000}

In [123]:
dic_notas = dict(zip(nombre_alumnos, notas))
dic_notas

{'Carlos': 12, 'Jhon': 13, 'Luisa': 15, 'Verónica': 18}